<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Composition</title>
</head>
<body>

<h1>{{ .Name }}</h1>
<h2>{{ .Age }}</h2>
{{ if .LicenseToKill}}
<h3>License To Kill</h3>
{{else}}
<h3>License To chill</h3>
{{end}}
</body>
</html>



/*
All material is licensed under the Apache License Version 2.0, January 2004
http://www.apache.org/licenses/LICENSE-2.0
*/