<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
<ul>
{{range .}}
    {{.Term}}<br>
    {{range .Courses}}
        {{.}}<br>
    {{end}}
{{end}}
</ul>
</body>
</html>