<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
</head>
<body>
<p>This is the title from tpl2: {{ .Title}}</p>
<p>This is the body from tpl2: {{ .Body }}</p>
</body>
</html>



/*
All material is licensed under the Apache License Version 2.0, January 2004
http://www.apache.org/licenses/LICENSE-2.0
*/